A1_KL/A1/Connected Services/A1Reference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49563/A1Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49563/A1Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IA1Service_IsInt_InputMessage">
    <wsdl:part name="parameters" element="tns:IsInt" />
  </wsdl:message>
  <wsdl:message name="IA1Service_IsInt_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsIntResponse" />
  </wsdl:message>
  <wsdl:message name="IA1Service_PrimeNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:PrimeNumber" />
  </wsdl:message>
  <wsdl:message name="IA1Service_PrimeNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrimeNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IA1Service_SumOfDigits_InputMessage">
    <wsdl:part name="parameters" element="tns:SumOfDigits" />
  </wsdl:message>
  <wsdl:message name="IA1Service_SumOfDigits_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumOfDigitsResponse" />
  </wsdl:message>
  <wsdl:message name="IA1Service_ReverseString_InputMessage">
    <wsdl:part name="parameters" element="tns:ReverseString" />
  </wsdl:message>
  <wsdl:message name="IA1Service_ReverseString_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReverseStringResponse" />
  </wsdl:message>
  <wsdl:message name="IA1Service_TagHTML_InputMessage">
    <wsdl:part name="parameters" element="tns:TagHTML" />
  </wsdl:message>
  <wsdl:message name="IA1Service_TagHTML_OutputMessage">
    <wsdl:part name="parameters" element="tns:TagHTMLResponse" />
  </wsdl:message>
  <wsdl:message name="IA1Service_OrderNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:OrderNumbers" />
  </wsdl:message>
  <wsdl:message name="IA1Service_OrderNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrderNumbersResponse" />
  </wsdl:message>
  <wsdl:portType name="IA1Service">
    <wsdl:operation name="IsInt">
      <wsdl:input wsaw:Action="http://tempuri.org/IA1Service/IsInt" message="tns:IA1Service_IsInt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IA1Service/IsIntResponse" message="tns:IA1Service_IsInt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrimeNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IA1Service/PrimeNumber" message="tns:IA1Service_PrimeNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IA1Service/PrimeNumberResponse" message="tns:IA1Service_PrimeNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SumOfDigits">
      <wsdl:input wsaw:Action="http://tempuri.org/IA1Service/SumOfDigits" message="tns:IA1Service_SumOfDigits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IA1Service/SumOfDigitsResponse" message="tns:IA1Service_SumOfDigits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReverseString">
      <wsdl:input wsaw:Action="http://tempuri.org/IA1Service/ReverseString" message="tns:IA1Service_ReverseString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IA1Service/ReverseStringResponse" message="tns:IA1Service_ReverseString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TagHTML">
      <wsdl:input wsaw:Action="http://tempuri.org/IA1Service/TagHTML" message="tns:IA1Service_TagHTML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IA1Service/TagHTMLResponse" message="tns:IA1Service_TagHTML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrderNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/IA1Service/OrderNumbers" message="tns:IA1Service_OrderNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IA1Service/OrderNumbersResponse" message="tns:IA1Service_OrderNumbers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IA1Service" type="tns:IA1Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsInt">
      <soap:operation soapAction="http://tempuri.org/IA1Service/IsInt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrimeNumber">
      <soap:operation soapAction="http://tempuri.org/IA1Service/PrimeNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SumOfDigits">
      <soap:operation soapAction="http://tempuri.org/IA1Service/SumOfDigits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseString">
      <soap:operation soapAction="http://tempuri.org/IA1Service/ReverseString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TagHTML">
      <soap:operation soapAction="http://tempuri.org/IA1Service/TagHTML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderNumbers">
      <soap:operation soapAction="http://tempuri.org/IA1Service/OrderNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IA1Service" binding="tns:BasicHttpBinding_IA1Service">
      <soap:address location="http://localhost:49563/A1Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>